* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
img {
  max-width: 100%;
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  cursor: pointer;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

body .st-block {
  background-color: #009688;
  height: 15%;
  width: 100%;
}
body .nd-block {
  background-color: #d9dbd5;
  height: 85%;
  width: 100%;
}

#app {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  height: 90%;
  overflow: hidden;
  display: flex;
}

nav {
  width: 35%;
  height: 100%;
}
.account {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

  background-color: #eaeaea;
}
.account-info {
  display: flex;
  align-items: center;
  width: 60%;
  font-size: 1.4rem;
}

.account-info img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 0.2em;
}

.account-functions {
  display: flex;
  align-items: center;
  color: grey;
  gap: 0.4em;
  justify-content: flex-end;
  width: 40%;
  font-size: 1.4rem;
}

.notifications {
  height: 4em;
  background-color: #8edbfc;
  display: flex;
  align-items: center;
  padding: 0.5em 0.9em;
  gap: 0.5em;
}
.notifications div:first-child {
  background-color: white;

  border-radius: 50%;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.notifications i {
  color: #8edbfc;
  font-size: 1.5rem;
  display: block;
}

.notifications div a {
  text-decoration: underline;
  color: grey;
}

.searchbar {
  padding: 0.4em;
  background-color: #eaeaea;
  height: 3em;
}
.searchbar div {
  padding: 0.4em 1.3em;
  display: flex;
  gap: 0.4em;
  align-items: center;
  background-color: white;
  justify-content: flex-start;
}

.searchbar div i {
  color: grey;
  font-size: 1rem;
}

.searchbar div input {
  width: 80%;
  border: none;
  height: 100%;
  padding: 0.2em 0.4em;
}

.chat-history {
  width: 100%;
  height: calc(100% - 8em);
  overflow-y: scroll;
}
.previous-chat {
  min-height: calc(100% / 10);
  width: 100%;
  gap: 0.1em;
  padding: 0.5em;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.contact-img {
  height: 100%;
  width: 20%;
}
.previous-chat .contact-img img {
  width: 3em;
  height: 3em;
  object-fit: cover;

  border-radius: 50%;
}

.previous-chat .chat-history-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}

.previous-chat .last-msg {
  font-size: 0.8rem;
  color: grey;
}
.previous-chat .last-msg-time {
  color: grey;
  align-self: flex-start;
  font-size: 0.6rem;
}

.main-content {
  height: 100%;
  width: 75%;
}
.main-content .account {
  width: 100%;
  padding: 0 1em;
}

.current-chat {
  height: calc(100% - 5em);
  width: 100%;
  display: none;
}

.current-chat.active {
  display: block;
}

.main-content .current-account-details {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  align-items: center;
}
.current-account-details img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}
.current-contact-last-access {
  font-size: 0.9rem;
  color: grey;
}
.writing {
  color: grey;
  font-style: oblique;
}
.current-account-functions {
  display: flex;
  gap: 0.7em;
  color: grey;
  font-size: 1.4rem;
}

.chat {
  background-image: url("../img/mine.jpg");
  width: 100%;
  height: calc(100% - 3em);
  padding: 0.8em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.msg {
  border-radius: 15px;
  max-width: 60%;
  width: fit-content;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.msg span {
  color: grey;
  font-size: 0.7rem;
  align-self: flex-end;
  width: max-content;
}
.sent {
  background-color: #d5f9ba;
  right: 0;
  padding: 0.5em 1.5em 0.5em 0.5em;
  align-self: flex-end;
  margin-bottom: 0.4em;
}
.received {
  background-color: white;
  left: 0;
  padding: 0.5em 1.5em 0.5em 0.5em;
  margin-right: 50%;
  margin-bottom: 0.4em;
}
.msg .msg-options {
  position: absolute;
  right: 3px;
  font-size: 1.1rem;
  visibility: hidden;
}

.msg-menu {
  position: absolute;
  bottom: 15px;
  left: 0;
  background-color: white;
  padding: 0.5em;
  border-radius: 15px;
  z-index: 999;
  border: 1px solid grey;
  display: none;
}
.msg-menu.show-menu {
  display: block;
}

.msg:hover .msg-options {
  visibility: visible;
}
.write-input {
  background-color: #eaeaea;
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  color: grey;
  height: 3em;
  align-items: center;
  font-size: 1.4rem;
}

.write-input input {
  width: 85%;
  height: 3em;
  border: none;
  padding: 0.5em;
  border-radius: 9px;
}
