/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COMMON */
:root {
  --green: #009688;
  --lightgreybg: #d9dbd5;
  --bgwhite: white;
  --bordersgrey: grey;
  --navborder: rgb(214, 205, 205);
  --sectionbg: #eaeaea;
  --icons: grey;
  --txtprimary: black;
  --txtsecondary: grey;
  --chatbg: url("../img/lightbg.png");
  --sent: #d5f9ba;
  --received: white;
}

.darkmode {
  --green: #009688;
  --lightgreybg: #30302f;
  --bgwhite: rgb(32, 30, 30);
  --bordersgrey: rgb(61, 61, 61);
  --navborder: rgb(71, 67, 67);
  --sectionbg: #2c2a2a;
  --icons: rgb(255, 255, 255);
  --txtprimary: rgb(251, 249, 249);
  --txtsecondary: rgb(220, 197, 197);
  --chatbg: url("../img/darkbg.jpg");
  --sent: #61695b;
  --received: rgb(75, 65, 65);
}
html {
  font-size: 100%;

  font-family: "Lato", sans-serif;
}
img {
  max-width: 100%;
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  cursor: pointer;
}
i:hover {
  transform: scale(1.06);
}

.background {
  width: 100%;
  height: 100vh;
  color: var(--txtprimary);
  position: relative;
  background-image: linear-gradient(
    var(--green) 0%,
    var(--green) 15vh,
    var(--lightgreybg) 15vh,
    var(--lightgreybg) 100vh
  );
}
/* APP */
.main {
  position: absolute;
  background-color: var(--bgwhite);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--bordersgrey);
  border-radius: 10px;
  width: 90%;
  height: 90%;
  overflow: hidden;
  display: flex;
}
/* NAV */
nav {
  width: 35%;
  min-width: 255px;
  height: 100%;
  border-right: 1px solid var(--navborder);
}

/* ACCOUNT NAV */
.account {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: var(--sectionbg);
}
.account-info {
  display: flex;
  align-items: center;
  width: 60%;
  font-size: 1.4rem;
}

.account-info img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 0.4em;
}

.account-functions {
  display: flex;
  align-items: center;
  color: var(--icons);
  gap: 0.4em;
  justify-content: flex-end;
  width: 40%;
  font-size: 1.4rem;
  position: relative;
}
.active {
  display: block;
}

/* WINDOWS ADD CONTACT */
.app-menu {
  position: absolute;
  background-color: var(--bgwhite);
  top: 45px;
  z-index: 99;
  border-radius: 10px;
  border: 1px solid var(--bordersgrey);
  left: 0;
  width: 9em;
  height: 4em;
  padding: 0.5em;
  font-size: 0.8rem;
  display: none;
}
.app-menu.active {
  display: block;
}
.app-menu > p {
  cursor: pointer;
}
.app-menu > p:hover {
  border-bottom: 1px solid #009688;
  color: #009688;
}

.add-contact {
  position: absolute;
  top: 45px;
  left: 120px;
  z-index: 9999;
  background-color: var(--bgwhite);
  width: 22em;
  border-radius: 10px;
  border: 1px solid var(--bordersgrey);
  padding: 0.5em;
  font-size: 1rem;
  display: none;
}
.add-contact.active {
  display: block;
}
.add-contact > * {
  margin-bottom: 0.5em;
}
.add-contact input {
  padding: 0.3em;
  background-color: var(--bgwhite);
  color: var(--txtprimary);
  border: 1px solid var(--bordersgrey);
  width: 90%;
}
.add-contact input:hover {
  transform: scale(1.02);

  border: 1px solid #009688;
}

.submit-contact {
  border: none;
  padding: 0.5em;
  background-color: #009688;
  color: white;
  border-radius: 10px;
}

/* NOTIFICATIONS NAV*/
.notifications {
  height: 4em;
  background-color: #8edbfc;
  display: flex;
  align-items: center;
  padding: 0.5em 0.9em;
  gap: 0.5em;
}
.notifications div:first-child {
  justify-content: center;
  align-items: center;
  display: flex;
}

.notifications i {
  color: #8edbfc;
  font-size: 1.1rem;
  display: block;
  background-color: white;
  border-radius: 50%;
  padding: 0.4em;
}
.notifications div p {
  font-size: 0.8rem;
  min-width: max-content;
  color: black;
}

.notifications div a {
  text-decoration: underline;
  color: grey;
  font-size: 0.7rem;
  width: max-content;
}

/* SEARCHBAR NAV */
.searchbar {
  padding: 0.4em;
  background-color: var(--sectionbg);
  height: 3em;
}
.searchbar div {
  padding: 0.4em 1.3em;
  display: flex;
  gap: 0.4em;
  align-items: center;
  background-color: var(--bgwhite);
  justify-content: flex-start;
}

.searchbar div i {
  color: var(--icons);
  font-size: 1rem;
}

.searchbar div input {
  width: 80%;
  border: none;
  height: 100%;
  padding: 0.2em 0.4em;
  transition: 300ms;
  background-color: var(--bgwhite);
  color: var(--txtprimary);
}

.searchbar div input:hover {
  transform: scale(1.03);
}

/* CHAT HISTORY NAV*/

.chat-history {
  width: 100%;
  height: calc(100% - 11em);
  overflow-y: scroll;
}
.previous-chat {
  min-height: calc(100% / 10);
  width: 100%;
  gap: 0.1em;
  padding: 0.5em;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.previous-chat:hover {
  border-bottom: 1px solid var(--navborder);
}

.contact-img {
  height: 100%;
  width: 4em;
}
.previous-chat .contact-img img {
  width: 3em;
  height: 3em;
  object-fit: cover;

  border-radius: 50%;
}

.previous-chat .chat-history-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}

.previous-chat .last-msg {
  font-size: 0.8rem;
  color: var(--txtsecondary);
}
.previous-chat .last-msg-time {
  color: var(--txtsecondary);
  align-self: flex-start;
  font-size: 0.6rem;
  min-width: max-content;
}
/* MAIN CONTENT  */
/* CHAT HEADER */
.main-content {
  height: 100%;
  width: 75%;
  min-width: 350px;
}
.main-content .account {
  width: 100%;
  padding: 0 1em;
}

.current-chat {
  height: calc(100% - 5em);
  width: 100%;
  display: none;
}

.current-chat.active {
  display: block;
}

.main-content .current-account-details {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  gap: 0.4em;
  align-items: center;
}
.current-account-details img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}
.current-contact-last-access {
  font-size: 0.9rem;
  color: var(--txtsecondary);
}
.typing {
  color: var(--txtsecondary);
  font-style: oblique;
}
.current-account-functions {
  display: flex;
  gap: 0.7em;
  color: var(--icons);
  font-size: 1.4rem;
  position: relative;
}
.current-account-functions .chat-options {
  position: absolute;
  z-index: 999;
  background-color: var(--bgwhite);
  width: 10em;
  height: 3.3em;
  bottom: -80px;
  left: -6em;
  padding: 0.3em 0.5em;
  font-size: 1.2rem;
  display: none;
  border-radius: 10px;
}
.current-account-functions .chat-options.show-options {
  display: block;
}

.chat-options > p {
  cursor: pointer;
}
.chat-options > p:hover {
  border-bottom: 1px solid var(--bordersgrey);
  color: rgb(198, 23, 23);
}

/* CHAT WINDOW */
.chat {
  background-image: var(--chatbg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100% - 3em);
  padding: 1.5em;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}
/* MESSAGES */
.msg {
  color: var(--txtprimary);
  border-radius: 15px;
  max-width: 60%;
  width: fit-content;
  padding: 0.5em;
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.msg span {
  color: var(--txtsecondary);
  font-size: 0.7rem;
  align-self: flex-end;
  width: max-content;
}
.sent {
  background-color: var(--sent);
  right: 0;
  min-width: 7.5em;
  padding: 0.5em 1.5em 0.5em 0.5em;
  align-self: flex-end;
  margin-bottom: 0.4em;
}
.sent:before {
  content: "";
  position: absolute;
  visibility: visible;
  top: 1px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid var(--sent);
}
.sent::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid var(--sent);
  clear: both;
}
.received {
  background-color: var(--received);
  left: 0;
  min-width: 6em;
  padding: 0.5em 1.5em 0.5em 0.5em;
  margin-right: 50%;
  margin-bottom: 0.4em;
}
.received:before {
  content: "";
  position: absolute;
  visibility: visible;
  top: 1px;
  left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid var(--received);
}
.received::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  left: -8px;
  border: 10px solid transparent;
  border-top: 10px solid var(--received);
  clear: both;
}
/* MESSAGE MENU */
.msg .msg-options {
  position: absolute;
  color: darkslategray;
  right: 3px;
  height: 2rem;
  font-size: 0.8rem;
  visibility: hidden;
}

.msg-menu {
  border: 1px solid var(--bordersgrey);
  position: absolute;
  bottom: -55px;
  width: 9em;
  height: 4em;
  left: -10px;
  background-color: var(--bgwhite);
  padding: 0.5em;
  border-radius: 15px;
  z-index: 999;
  color: var(--txtsecondary);
  display: none;
  font-size: 0.8rem;
}
.msg-menu > p:hover {
  border-bottom: 1px solid var(--bordersgrey);
}
.msg-menu > p:last-child:hover {
  color: rgb(199, 21, 21);
}
.msg-menu.show-menu {
  display: block;
}

.msg:hover .msg-options {
  visibility: visible;
}

.msg-info {
  position: absolute;
  background-color: var(--bgwhite);
  border-radius: 6px;
  border: 1px solid var(--bordersgrey);
  padding: 0.3em;
  top: 50px;
  width: 10em;
  left: 0px;
  display: none;
}
.msg-info p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
}
.msg-info span {
  font-size: 0.6rem;
}
.msg-info.active {
  display: block;
}

/* TYPE INPUT */
.write-input {
  background-color: var(--sectionbg);
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  color: var(--icons);
  height: 3em;
  align-items: center;
  font-size: 1.4rem;
}

.write-input input {
  width: 85%;
  height: 3em;
  border: none;
  padding: 0.5em;
  border-radius: 9px;
  font-size: 1rem;
  background-color: var(--bgwhite);
  color: var(--txtprimary);
}
