<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <!-- vue -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- luxon -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js"
      integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="st-block"></div>
    <div class="nd-block"></div>
    <div id="app">
      <nav>
        <div class="account">
          <div class="account-info">
            <img src="img/avatar_io.jpg" alt="" srcset="" />
            <span class="account-name">Sofia</span>
          </div>
          <div class="account-functions">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="notifications">
          <div>
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div>
            <p>Recieve new messages notifications</p>
            <a href="">Activate desktop notifications</a>
          </div>
        </div>
        <div class="searchbar">
          <div class="div">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="text"
              name="search-contacts"
              id="search-contacts"
              placeholder="Search for or begin a new chat"
            />
          </div>
        </div>
        <div class="chat-history">
          <div
            v-for="chat,index in contacts"
            @click="showChat(index)"
            class="previous-chat"
          >
            <div class="contact-img">
              <img :src="(`/img/avatar${chat.avatar}.jpg`)" alt="" srcset="" />
            </div>
            <div class="chat-history-info">
              <div>
                <p class="contact-name">{{chat.name}}</p>
                <p class="last-msg">Ultimo messaggio</p>
              </div>
              <span class="last-msg-time">12:30</span>
            </div>
          </div>
        </div>
      </nav>
      <div class="main-content">
        <div
          v-for="contact,index in contacts"
          class="current-chat"
          :class="currentChat === index ? 'active' : ''"
        >
          <div class="account">
            <div class="current-account-details">
              <img
                class="current-contact-img"
                src="img/avatar_2.jpg"
                alt=""
                srcset=""
              />
              <div>
                <p class="current-contact-name">{{contact.name}}</p>
                <p class="current-contact-last-access">ultimo accesso</p>
              </div>
            </div>
            <div class="current-account-functions">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
          <div class="chat">
            <!-- <div class="msg sent">{{contact.messages[0].message}}</div>
            <div class="msg received">{{contact.messages[1].message}}</div> -->
            <div
              class="msg"
              v-for="message in contact.messages"
              :class="message.status === 'sent'? 'sent' : 'received' "
            >
              {{message.message}}
              <span>{{message.date}}</span>
            </div>
          </div>
          <!--  QUI -->
          <div class="write-input">
            <i class="fa-regular fa-face-smile"></i>
            <input
              @keyup.enter="sendMsg(index)"
              v-model="userMsg"
              type="text"
              name="msg"
              id="msg"
              placeholder="Write a message"
            />
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
